<ion-view title="{{data.title}}">

    <ion-nav-bar align-title="center" class="bar-calm">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Retour
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content has-header="true" style="font-family: 'Lato' sans-serif;">

        <img src="http://image.tmdb.org/t/p/w500/{{data.backdrop_path}}" style="width:100%;display:block;">
        <h3 class="detail-film-section">Description du film</h3>
        <div style="display: table;margin-left: 10px;margin-bottom: 10px;">
            <img src="http://image.tmdb.org/t/p/w500/{{data.poster_path}}" style="width:100px; float: left;">
            <div style="display: table-cell;vertical-align: middle;padding-left: 10px;">
                <span class="detail-film-genres"> {{genres}}</span>
                <span style="display:block;text-align: center;font-family: 'Fugaz One', cursive;">date de sortie</span>
                <span class="detail-film-date"> {{release_date}}</span>
                <button ng-click="shareFilm()" class="button button-small icon-left ion-share button-positive">Partager</button>
            </div>
        </div>

        <div style="clear:both;"></div>

        <h3 class="detail-film-section">Synopsis</h3>
        <div style="margin-left: 10px;margin-right: 10px;text-align:justify;">
            {{data.overview}}
        </div>
        <!--<div style="margin-top: 50px">
            <object type="application/x-shockwave-flash" width="425" height="355" data="http://www.youtube.com/v/{{video.key}}">
                <param name="movie" value="http://www.youtube.com/v/{{video.key}}" />
                <param name="wmode" value="transparent" />
            </object>

        </div>-->
        <div class="video-container">
            <youtube code="video.key"></youtube>
        </div>
        <!--<iframe src="http://www.youtube.com/embed/{{video.key}}" frameborder="0" allowfullscreen></iframe>-->

    </ion-content>
</ion-view>
