<ion-view title="Cinema">
    <ion-content class="padding">
        <h1>{{data.title}}</h1>
        <img src="http://image.tmdb.org/t/p/w500/{{data.poster_path}}" />
        <div>
            <object type="application/x-shockwave-flash" width="425" height="355" data="http://www.youtube.com/v/{{video.key}}">
                <param name="movie" value="http://www.youtube.com/v/{{video.key}}" />
                <param name="wmode" value="transparent" />
            </object>

        </div>  <h1>{{video.key}}</h1>
    </ion-content>
</ion-view>
