<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.first_name}} {{friend.last_name}}">

    <ion-nav-bar align-title="center" id="header" class="bar-calm">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Retour
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content has-header="true">
        <ion-refresher
                on-refresh="refreshFriends()">
        </ion-refresher>
        <div style="height:20px;"></div>
        <div class="friend-identity">

            <table style="text-align: center; margin: 10px; width: 100%; font-family: 'Lato' sans-serif; color: #898989">
                <tr>
                    <td width="25%"><img src="http://cinebook-project.tk/images/{{friend.id}}.jpg"  style="max-width: 100%; float:left; margin: 0 10px 0 0; border-radius: 100%"></td>
                    <td width="25%" style="vertical-align: middle"><span style="font-size: 4em">{{friend.nbLikes}}</span><br>J'aime</td>
                    <td width="25%" style="vertical-align: middle"><span style="font-size: 4em">{{friend.nbPosts}}</span><br>Partages</td>
                    <td width="25%" style="vertical-align: middle"><span style="font-size: 4em">{{friend.nbFriends}}</span><br>Amis</td>
                </tr>
            </table>
        </div>

        <div style="clear: both;"></div>

        <div style="display:block;
                    margin: 20px 0;
                    background: #f5f2ed;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-family: 'Fugaz One';
                    color: #383c3f;">
            Actualités
        </div>

        <div ng-repeat="actu in actus" class="list card" style="margin-top: 20px;">
            <div class="item item-avatar">
                <img src="http://cinebook-project.tk/images/{{actu.user_id}}.jpg">
                <h2 class="actu-h2">{{actu.first_name}} {{actu.last_name}}</h2>
                <p style="font-size: 0.6em;">{{actu.created_at}}</p>
            </div>
            <div class="item item-body" style="padding: 10px 10px 10px 10px;">
                <img class="full-image" src="img/film.jpg">
                <p style="margin-top: 10px;">{{actu.content}}</p>
                <p>
                    <a href="#" class="subdued" style="color: #528CE0; font-size: 0.8em;">1 J'aime</a>
                    <a href="#" class="subdued" style="color: #528CE0; font-size: 0.8em;">5 Commentaires</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    J'aime
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Commenter
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Partager
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
