<ion-modal-view>

    <ion-header-bar class="bar-calm" id="header">
        <ion-button class="button icon-left ion-chevron-left button-clear" ng-click="leaveAddDialog()"></ion-button>
        <h1 class="title">Ajouter un ami</h1>
    </ion-header-bar>

    <ion-content has-header="true">
        <form id="search-box" ng-submit="addFriend(searchData);">
            <div class="list">
                <div class="item item-input-inset add-friends-input">
                    <label class="item-input-wrapper" style="background: #fff;">
                        <input type="text" placeholder="Rechercher" ng-model="friendQuery" autofocus>
                    </label>
                    <button class="button button-small icon ion-search button-dark" ng-click="searchFriend(friendQuery);"></button>
                </div>
            </div>
        </form>

        <ion-list>
            <ion-item ng-if="friendResults.length == 0">
                Aucun résultat trouvé
            </ion-item>
            <ion-item class="item-button-right" ng-repeat="result in friendResults" type="item-text-wrap" style="background: #fff;">

                {{result.first_name}} {{result.last_name}}
                <button class="button button-positive" ng-click="addFriend(result.id)">
                    <i class="icon ion-person-add"></i>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-modal-view>