

<ion-view title="Cinebook">
    <ion-content has-header="true" padding="true">
        <form ng-submit="doLogin(loginData)">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nom d'utilisateur</span>
                    <input type="text" ng-model="loginData.login" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" ng-model="loginData.password" />
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Se connecter</button>
                </label>
            </div>
        </form>

        <label class="item">
            <button class="button button-block button-positive" ng-click="fbLogin()">
                Se connecter avec Facebook
            </button>
        </label>
        <span ng-if="showError()">
            {{msgError.message}}
        </span>
    </ion-content>
</ion-view>

