<ion-view title="Amis">

    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
            Back
        </ion-nav-back-button>
        <div class="buttons">
            <button class="button button-icon icon ion-ios7-minus-outline"
                    ng-click="data.showDelete = !data.showDelete;"></button>
        </div>
    </ion-nav-bar>

  <ion-content>
    <ion-list show-delete="data.showDelete">
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}" style="background: #fff;">
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
        {{friend.email}}

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
