<ion-view title="Accueil">
  <ion-content class="padding">
      <!--<div style="position: fixed">-->
        <h4>Derniers films</h4>
              <ion-scroll direction="x" scrollbar-x="false" class="wide-as-needed-horizontal" >
                  <a href="#/tab/detailFilm/{{img.id}}" ng-repeat="img in imgs" class="button inline-button img-button film-list-item">
                      <img src="http://image.tmdb.org/t/p/w92/{{img.poster_path}}" class="film-list-item-image">
                      <div class="film-list-item-details">
                          {{img.original_title}} <br/>
                          Note : {{img.vote_average}}/10
                          <span class="paragraph-end"></span>
                      </div>
                  </a>
              </ion-scroll>
          <hr/>
      <!--</div>-->

      <h4>Actualités</h4>

      <ion-scroll direction="y" class="scroll-vertical">
          <div ng-repeat="actu in actus" class="list card">
              <div class="item item-avatar">
                  <img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg">
                  <h2>{{actu.title}}</h2>
                  <p>le 30 Septembre 2014 à 23:00</p>
              </div>
              <div class="item item-body">
                  <p>{{actu.title}}</p>
              </div>
          </div>
      </ion-scroll>




  </ion-content>
</ion-view>
