<ion-view title="Accueil">
  <ion-content class="padding">
      <!--<div style="position: fixed">-->
        <h2>Derniers films</h2>
              <ion-scroll direction="x" class="wide-as-needed-horizontal" >
                  <a href="#/detailFilm/{{img.id}}" ng-repeat="img in imgs" class="button inline-button img-button"><img src="http://image.tmdb.org/t/p/w92/{{img.poster_path}}" style="height:150px;"> </a>
              </ion-scroll>
          <hr/>
      <!--</div>-->

      <h2>Actualités</h2>

      <ion-scroll direction="y" class="scroll-vertical">
          <div ng-repeat="actu in actus" class="list card">
              <div class="item item-avatar">
                  <img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg">
                  <h2>{{actu.title}}</h2>
                  <p>le 30 Septembre 2014 à 23:00</p>
              </div>
              <div class="item item-body">
                  <p>{{actu.title}}</p>
              </div>
          </div>

              <a class="button inline-button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
              <a class="button img-button"><img src="img/Gardiens-de-la-galaxie-nouvelle-affiche.jpg" style="width:80px;"> </a><br/>
      </ion-scroll>




  </ion-content>
</ion-view>
