<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="fr.ensim.cinebook" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CineBook</name>
  <description>
        Le 1er Réseau social pour enfant basé sur l'actualité Cinéma.
    </description>
  <author email="simokhalil@gmail.com" href="http://www.simosoft.fr/">
      Khalil EL ISMAILI - Aymerick LEMAGOROU - Tarik FERDAOUSSI
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>