/* Empty. Add your own CSS if you like */
.wide-as-needed-horizontal {

    /*overflow: scroll;*/
    white-space: nowrap;
}

.wide-as-needed-vertical {

    /*overflow: scroll;*/
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
    height:100% !important
}



.bar.bar-loading {
    display: block;
    height: 24px;

    /* starts right below a normal header */
    top: 44px;

    /* make the text centered vertically and horizontally */
    text-align: center;
    padding: 0;
    line-height: 24px;

    /* transition 'sliding down' (check below)*/
    -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
    -webkit-transition: 200ms top;
}
.has-header.has-loading {
    /* 44px (header) + 24px */
    top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
    height: 24px;
    border-width: 1px;
}


.img-button{
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
}

.scroll-vertical{
    height: 50% !important;
    bottom: 0px;
}

.item{
    background-color: transparent;
}

.bar.bar-stable .title {
    color: #fff;
}

.film-list-item{
    margin-right: 10px;
    width: 90px;
    padding-top: 4px;
    background: #ffffff;
}

.film-list-item:active{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}

.film-list-item:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}

.film-list-item-image{
    height: 130px;
    width: 90px;
}

.film-list-item-details{
    font-size: 0.6em;
    background: #ffffff;
    overflow: hidden;
    line-height: normal;
    -webkit-box-shadow: inset -44px -4px 118px -28px rgba(255,255,255,1);
    -moz-box-shadow: inset -44px -4px 118px -28px rgba(255,255,255,1);
    box-shadow: inset -44px -4px 118px -28px rgba(255,255,255,1);
}

ion-content{
    background-color: #e5e5e5;
}

.paragraph-end {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
    bottom: 10px;
    height: 15px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 20px;
}

.card, .list-inset{
    margin: 0 10px 10px 10px;
}

h4, .h4, h5, .h5, h6, .h6{
    margin-top: 0;
}

/*h3 {

}*/

.detail-film-section{
    margin-top: 0px;
    text-align:center;
    background-color: #4a87ee;
    color: #FFFFFF;
}

.video-container {
    position: relative;
    margin-top: 20px;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
