/* Lato Google Font */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Kranky);
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

/* Empty. Add your own CSS if you like */
.wide-as-needed-horizontal {

    /*overflow: scroll;*/
    white-space: nowrap;
}

.wide-as-needed-vertical {

    /*overflow: scroll;*/
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
    height:100% !important
}



.bar.bar-loading {
    display: block;
    height: 24px;

    /* starts right below a normal header */
    top: 44px;

    /* make the text centered vertically and horizontally */
    text-align: center;
    padding: 0;
    line-height: 24px;

    /* transition 'sliding down' (check below)*/
    -webkit-transition: 200ms all;
}


/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
    -webkit-transition: 200ms top;
}
.has-header.has-loading {
    /* 44px (header) + 24px */
    top: 68px;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
    height: 24px;
    border-width: 1px;
}


.img-button{
    background-color: transparent;
    padding: 0px;
    border-width: 0px;
}

.scroll-vertical{
    height: 50% !important;
    bottom: 0px;
}

.item{
    background-color: transparent;
}

.bar.bar-stable .title {
    color: #fff;
}

.film-list-item{
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin-right: 10px;
    -moz-box-shadow: 1px 1px 2px 1px #656565;
    -webkit-box-shadow: 1px 1px 2px 1px #656565;
    -o-box-shadow: 1px 1px 2px 1px #656565;
    box-shadow: 1px 1px 2px 1px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.film-list-item:active{
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}

.film-list-item:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
}

.film-list-item-image{
    width: 100%;
    height: auto;
}

.film-list-item-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 10px 0;
    font-size: 0.8em;
    font-family: 'Lato' sans-serif;
    font-weight: 300;
    line-height: normal;
    padding-left: 5px;
}

ion-content{
    background-color: #ffffff;
}

.paragraph-end {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1));
    background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00000000',EndColorStr='#000000ff');
    top: 11px;
    height: 18px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 20px;
}

.card, .list-inset{
    margin: 0 10px 10px 10px;
}

h4, .h4, h5, .h5, h6, .h6{
    margin-top: 0;
}

.item-avatar{
    padding: 5px 0 5px 5px;
    min-height: 30px;
}


.item-avatar > img:first-child, .item-avatar .item-image,
.item-avatar .item-content > img:first-child,
.item-avatar .item-content .item-image, .item-avatar-left > img:first-child,
.item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child,
.item-avatar-left .item-content .item-image{
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
    margin-right: 10px;
}

.item h2 {
    margin: 7px 0 4px 0;
    font-size: 0.8em;
}


.detail-film-section{
    margin-top: 0px;
    text-align:center;
    background-color: #4a87ee;
    color: #FFFFFF;
}

.video-container {
    position: relative;
    margin-top: 20px;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-view{
    background: url(../img/blurry.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 30px;
    padding-top: 50px;
}

.login-logo{
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
}

.titre {
    font-family: 'Lato', sans-serif;
    color: #43cee6;
    padding: 25px;
}

.title, .tab-title, .button-calm{
    font-family: 'Fugaz One', cursive;
}


.item-complex .item-content{
    padding: 8px 49px 8px 5px;
}

/*
h2{
    font-family: 'Fugaz One', cursive;
}

body{
    font-family: 'Architects Daughter', cursive;
}*/